<!DOCTYPE html>
<html>
<head>
    <title>WebringDirAPI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>WDAPI - WebringDirAPI</h1>
    <h3>A small and simple database of webrings written in Python</h3>
    <div class="spacer1"></div>
    <p><strong>How to use the API:</strong></p>
    <p>You can use the API in 2 ways:</p>
    <ul>
        <li>Using the web interface <a href="/web">here</a></li>
        <li>Direct API access:</strong> Send requests using your browser, curl, or code. See the <a href="/docs">docs here</a></li>
    </ul>
    <p>Also check <a href="/rules">rules</a></p>
</body>
</html>